.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../assests/Images/microscope1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh; /* Adjust the height as needed */
  width: 100%;
  color: #fff; /* Text color */
}

.hero-content {
  text-align: center;
  max-width: 800px; /* Adjust the width as needed */
  padding: 20px;
}

.hero h1 {
  font-size: 48px; /* Adjust font size as needed */
  margin-bottom: 20px;
}

.hero p {
  font-size: 24px; /* Adjust font size as needed */
}
