.details {
  padding: 0.5rem;
  &__title {
    background-size: cover;
    color: rgb(14, 14, 14);
    font-size: 1.5rem;
    font-weight: 700;
    font-family: 600;
    height: 15rem;
    box-shadow: 0 4px 10px rgba(18, 18, 18, 0.4);
    background-size: cover;
  }
  &__wrapper {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 1rem;
  }
  &__desc {
    font-size: 1.5rem;
    padding: 1rem;
    font-weight: 400;
    background-color: rgba(234, 245, 250, 0.5);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 45%;
    margin-left: 0.5rem;
    height: 1.5rem;
  }

  &__icon {
    height: 3rem;
    max-width: 3rem;
  }
  &__container--desc {
    width: 85%;
    height: 28rem;
    margin-bottom: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 0.5rem;
    position: relative;
    background-color: rgb(251, 243, 239);
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-size: cover;
    background-position: center;
    text-decoration: none;
  }
}
