@use "../../styles/partials/mixin" as *;
@use "../../styles/partials/variables" as *;

.courses {
  &__big-contain {
    @include tablet {
      display: flex;
    }
  }
  &__contain {
    @include tablet {
      display: flex;
    }
  }
  &__right {
    display: none;
    @include tablet {
      display: contents;
    }
  }
  &__section {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  &__link {
    display: flex;
    align-items: center;
    padding: 1rem;
  }

  &__arrow {
    height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__head {
    color: rgb(15, 123, 123);
    font-size: 1.3rem;
    text-align: center;
    font-weight: 700;
    height: 2.5rem;
    padding-top: 1rem;
    @include tablet {
      font-size: 1.8rem;
    }
  }
  &__wrap {
    display: flex;
    flex-direction: column;
  }
  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__image {
    width: 90%;
  }
  &__time {
    color: white;
    padding-left: 1rem;
  }
  &__title {
    width: 80%;
    margin-bottom: 3rem;
    padding-left: 1rem;
    top: 3rem;
    font-size: 1.5rem;
    position: relative;
    color: white;
    border-radius: 1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.1);
    background-position: center;
    text-decoration-style: none;
  }
  &__box {
    width: 90%;
    height: 10rem;
    margin-bottom: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    position: relative;
    background-color: white;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-size: cover;
    background-position: center;
    text-decoration: none;
    @include tablet {
      width: 85%;
      align-items: center;
      justify-content: center;
      left: 0;
      height: 13rem;
    }
  }
}

.course {
  &__wrapper {
    background-image: url(../../../public/images/tech.jpg);
    background-size: cover;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 88%;
    height: 40rem;
    margin-bottom: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 0.5rem;
  }
  &__subtitle {
    font-size: 1.5rem;
    padding: 0.5rem;
    font-weight: 400;
    background-color: rgba(8, 121, 173, 0.5);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    // width: 90%;
    // margin-left: 0.5rem;
    height: 3rem;
    text-align: center;
    color: aliceblue;
    font-size: 1.5rem;
    align-items: center;
  }
  &__item {
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: white;
    text-align: center;
    background-color: rgba(196, 221, 242, 0.382);
    border-radius: 10px;
    margin-top: 1rem;
  }
}
