@use "../../styles/partials/mixin" as *;
@use "../../styles/partials/variables" as *;

.footer {
  background-color: #1e5887;
  display: flex;
  flex-direction: column;

  height: 18rem;
  padding: 1rem;
  gap: 1rem;
  @include tablet {
    height: 15rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  @include desktop {
    justify-content: space-evenly;
  }

  &__icons {
    height: 1.5rem;
    width: 1.5rem;
    @include tablet {
      height: 2.5rem;
      width: 2.5rem;
    }
  }
  &__bigbox {
    display: flex;
    height: 8rem;
  }
  &__box {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: space-evenly;
    gap: 0.1rem;
    @include tablet {
      width: 30%;
      display: flex;
      gap: 1.5rem;
    }
  }
  &__box1 {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &__wrapper {
    display: flex;
    @include tablet {
      display: flex;
      gap: 1rem;
    }
  }
  &__container {
    display: flex;
    gap: 0.8rem;
    align-items: center;
    height: 2rem;
  }
  &__text {
    font-size: 0.6rem;
    color: aliceblue;
    @include tablet {
      font-size: 0.9rem;
    }
    @include desktop {
      font-size: 1rem;
    }
  }
  &__logo {
    height: 5rem;
    width: 5rem;
    @include tablet {
      height: 14rem;
      width: 16rem;
    }
  }
}
