.hero-container {
  position: relative;
}

.welcome {
  width: 100%;
}

.hero-title {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(138, 189, 241, 0.2);
  font-size: 2rem;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.hero-subtitle {
  position: absolute;
  top: calc(50% + 2rem);
  left: 50%;
  text-align: center;
  top: 55%;
  transform: translateX(-50%);
  font-size: 1rem;
  font-weight: 700;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  background-color: rgba(138, 189, 241, 0.2);
}
.hero__text {
  font-size: 0.8rem;
  background-color: rgb(236, 245, 249);
  border-radius: 5px;
  width: 90%;
  padding: 0.4rem 0rem 0rem 0.8rem;
  margin-left: 1.4rem;
  margin-top: 0.5rem;
  color: rgb(56, 4, 56);
}
.page__text {
  font-size: 0.8rem;
  background-color: rgb(236, 245, 249);
  border-radius: 5px;
  width: 90%;
  padding: 0.4rem 0rem 0rem 0.8rem;
  margin-left: 1.4rem;
  margin-top: 0.5rem;
  color: rgb(56, 4, 56);
  padding-bottom: 1rem;
  margin-bottom: 0.5rem;
}

.services {
  display: flex;
  margin-top: 1rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: rgba(190, 218, 246, 0.2);
  &__logo {
    height: 3rem;
    width: 3rem;
    justify-content: center;
  }
  &__box {
    text-decoration: none;
  }
  &__container {
    background-color: rgba(247, 249, 251, 0.5);
  }
}

.btn {
  &__wrapper {
    display: flex;
    justify-content: space-around;
    height: 4rem;
    align-items: center;
  }
  &__login {
    margin: 1rem;
    padding: 0.5rem;
    background-color: aliceblue;
    border-radius: 5px;
    text-decoration: none;
  }

  &__signup {
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 5px;
    background-color: aliceblue;
    text-decoration: none;
  }
}
