@use "../../styles/partials/mixin" as *;
@use "../../styles/partials/variables" as *;

.hero-container {
  position: relative;
}

.welcome {
  background-image: url("../../assests/Images/hero.png");
  background-size: cover;
  width: 100%;
  height: 25vh;
  width: 100vw;
  @include tablet {
    height: 45vh;
    width: 100vw;
  }
  @include desktop {
    height: 75vh;
    width: 100vw;
  }
}

.hero-title {
  position: absolute;
  top: 35%;
  right: 0;
  width: 58%;
  background-image: linear-gradient(
    to top right,
    rgba(18, 126, 235, 0.4),
    rgba(8, 239, 235, 0.4)
  );
  font-size: 1.6rem;
  color: rgb(13, 42, 121);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  @include tablet {
    font-size: 2rem;
    width: 55%;
  }
  @include desktop {
    font-size: 3rem;
  }
}

.hero-subtitle {
  position: absolute;
  background-color: rgba(138, 189, 241, 0.1);
  right: 0;
  text-align: center;
  top: 52%;
  width: 50%;
  font-size: 0.9rem;
  font-weight: 700;
  color: rgb(13, 42, 121);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  background-color: rgba(138, 189, 241, 0.1);
  @include tablet {
    font-size: 1.7rem;
    top: 45%;
    right: 5%;
  }
  @include desktop {
    font-size: 2rem;
    top: 49%;
  }
}

.hero__text {
  font-size: 0.8rem;
  font-style: oblique;
  background-color: rgb(236, 245, 249);
  border-radius: 5px;
  width: 90%;
  padding: 1rem 0rem;
  margin-left: 1.4rem;
  margin-top: 1rem;
  color: rgb(56, 4, 56);
  @include tablet {
    font-size: 1.3rem;
  }
  @include desktop {
    font-size: 1.8rem;
    padding: 1rem;
  }
}
.page {
  &__text {
    font-size: 0.8rem;
    background-color: rgb(236, 245, 249);
    border-radius: 5px;
    width: 70%;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    font-weight: 700;
    color: rgb(5, 18, 61);
    text-align: center;
    padding-top: 0.5rem;
    height: 1.5rem;
    align-items: center;
    opacity: 0;
    transform: translateX(-100%);
    animation: slideIn 20s linear forwards infinite;
    @include tablet {
      font-size: 1.6rem;
      color: rgb(10, 57, 95);
    }
  }
  @keyframes slideIn {
    from {
      opacity: 0;
      transform: translateX(-100%);
    }
    to {
      opacity: 1;
      transform: translateX(100vw);
    }
  }

  &__map {
    height: 10rem;
    width: 100%;
    display: flex;
    @include tablet {
      margin: 0 auto;
    }
    @include desktop {
    }
  }
  &__map-text {
    font-size: 1rem;
    background-color: rgba(29, 107, 175, 0.4);
    border-radius: 10px;
    color: rgb(11, 50, 83);
    width: 15%;
    font-weight: 700;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 0.4rem;
    margin-bottom: 1rem;
    margin-top: 1.2rem;
    margin-left: 1rem;
    @include tablet {
      font-size: 1.5rem;
    }
  }
}

.services {
  display: flex;
  margin-top: 1rem;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  gap: 1rem;
  padding: 1rem;
  background-color: rgba(67, 142, 216, 0.2);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  @include tablet {
    display: flex;
    flex-direction: column;
  }
  &__logo {
    height: 3rem;
    width: 3rem;
    justify-content: center;
  }
  &__box {
    text-decoration: none;
    @include tablet {
      width: 28%;
    }
    @include desktop {
      width: 30%;
    }
  }
  &__text {
    color: rgb(56, 4, 56);
    @include tablet {
      font-size: 1.5rem;
    }
  }
  &__container {
    background-color: rgba(247, 249, 251, 0.5);
    padding: 1rem;
    @include tablet {
      display: flex;
      justify-content: space-around;
      padding: 2.5rem;
    }
  }
}

.btn {
  &__wrapper {
    display: flex;
    justify-content: space-around;
    height: 4rem;
    align-items: center;
  }
  &__login {
    margin: 1rem;
    padding: 0.5rem;
    background-color: aliceblue;
    border-radius: 5px;
    text-decoration: none;
  }

  &__signup {
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 5px;
    background-color: aliceblue;
    text-decoration: none;
  }
}
