/* body {
  margin: 0;
  padding: 2rem;
  font-family: sans-serif;
  background: linear-gradient(
    90deg,
    rgb(222, 221, 236) 0%,
    rgb(193, 205, 205) 35%,
    rgb(222, 235, 242) 100%
  );
} */
